.navbar{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.searchbar {
    height: 30px;
    width: 180px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    justify-content: flex-start;
    padding: 0px 10px;
  }
  
  .searchbar input,
  button {
    border: none;
    background: none;
    opacity: 0.7;
  }

  .searchbar button{
    margin-right: 5px;
  }
  
  .searchbar input:focus-visible {
    outline: none;
  }

  @media (max-width: 900px) {
    .searchbar {
      width: 130px;
  }
  }

  @media (max-width: 600px) {
    .searchbar {
      width: 15px;
    }
    h4{
      font-size: small;
    }
    .searchbar input[type="text"] {
      display: none;
      
}
  }

  @media (max-width: 468px) {
   
h4{
  font-size: smaller;
}
  }

 