
.sidebar{
    
position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px;
    z-index: 1000;
    background-color:  #04042b;
    overflow-y: hidden;
}

.dashboard-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}

.dashboard {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

.hamburger {
    cursor: pointer;
    display: none;
}

.dashboard span {
    margin-left: 5px;
    font-weight: 600;
}

ul {
    list-style: none;
    padding: 12px;

}

li {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: red 0.3s ease;
    opacity: 0.7;
}

li.active {
    background-color: #2d2d69;
    color: white;
    opacity: 1;
}

.litext {
    margin-left: 10px;

}

.sidebar-item {
    display: flex;
}

.profile {
    display: flex;
    align-items: center;

    justify-content: space-between;
    background-color: #2d2d69;
    border-radius: 5px;
    padding: 8px;
    padding-right: 15px;
    margin: auto 0px 100px 0px;
}

.user-details {
    display: flex;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


.username {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.username span {
    font-size: 13px;
    font-weight: 600;
}

.username span:last-child {
    opacity: 0.5;
}

.sidebar-icon,
.sidebar-img{
    display: none;
}

@media (max-width: 900px) {

    .sidebar.visible {
        margin-left: -200px;
    }
    .hamburger,
    .sidebar-icon.visible,
    .sidebar-img.visible{
        display: block;
    }
    .sidebar-forwardarrow.visible,
    .sidebar-downarrow.visible{
        display: none;
    }
    

}